assets/sounds_west/coltnavy/
assets/sounds_west/fists/
assets/sounds_west/hatchet/
assets/sounds_west/knife/
assets/sounds_west/pumpshotgun/
assets/sounds_west/sawedshotgun/
assets/sounds_west/sharpsrifle/
assets/sounds_west/smithcarbine/
assets/sounds_west/swschofield/
